<html>
<head>
	<title>Inmobiliaria propertys_list</title>

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

</head>
<body>
	<div class="header">
		<ul class="navbar">
			<li>
				<a href="propertys/index">Inicio</a>
			</li>
			<li>
				<a href="propertys/about">Nosotros</a>
			</li>
			<li>
				<a href="propertys/property">Propiedades</a>
			</li>
			<li>
				<a href="propertys/contact">Contactenos</a>
			</li>
		</ul>
	</div>

	<h1></h1>

	<script type="text/javascript">Slider</script>

	<ul>	
		{% for p in propertys %}
		<li><a href="show/{{p.property_id}}/">{{p}}</a></li>
		{%endfor%}
	</ul>

	<ul>
		{% for i in news %}
		<div class="news-tag">
			<li>
				<img src="{{i.image_link}}">
				<a href="{{i.referer_link}}">{{i.title}}</a>
			</li>
		</div>
		{%endfor%}
	</ul>

	<div class="footer">

		<p>Copyright 2015 - Dolcapps </p>

	</div>	


</body>
</html>